<html>
  <head>
 <title>school manage ment system</title>
 <link rel="stylesheet" href="E:\projects\school_management_system\static\css\demo.css">
 <script src="https://kit.fontawesome.com/4961f15a41.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-2x fa-solid fa-house-user"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="/admin_teachers">
                        <i class="fa fa-solid fa-chalkboard-user fa-2x"></i>
                        <span class="nav-text">
                            Teachers
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/admin_students">
                       <i class="fa fa-solid fa-user-graduate fa-2x"></i>
                        <span class="nav-text">
                            Students
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-solid fa-address-card fa-2x"></i>
                        <span class="nav-text">
                            Attendance
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-solid fa-indian-rupee-sign fa-2x"></i>
                        <span class="nav-text">
                            Fee Details
                        </span>
                    </a>
                </li>
               
            </ul>

        </nav>
  </body>
    </html>