<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>

  <link href="/static/css/login.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4961f15a41.js" crossorigin="anonymous"></script>


</head>
<body>
  
  <!--  header start -->

  <header>
    <div class="left_area">
      <h3>School Management System</h3>
    </div>
</header>

<!--  header end -->

  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" action=" " method="post">
          {% csrf_token %}
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" name="username" placeholder="Username">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" name="password" placeholder="Password">
          </div>
          <input type="submit" class="button login__submit" value="login">			
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>


</body>
</html>